<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h3>IFramed App</h3>
      <h4>Url: {{url}}</h4>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-default btn-xs"  onClick="reload();">Reload from server</button>
    </div>
  </div>
    
  <div class="row">
    <div class="col-sm-6">
      <h4>Cookies availabe @ Server</h4>
      <p>This is what the "bridge" would see</p>
      <ul>
        <li>Platform Cookie: {{cookies.platformCookie}}</li>
        <li>Org Cookie: {{cookies.orgCookie}}</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <h4>Cookies availabe @ Client</h4>
      <p>This is what a javascript application would see</p>
      <ul id="clientCookies"></ul>
      <button class="btn btn-default btn-xs"  onClick="updateClient();">Refresh</button>
    </div>
    <div class="col-sm-12">
      <h3>Session passed via PostMessage</h3>
      <ul id="session"></ul>
    </div>
  </div>
</div>

<script>

window.onload = function () {
  updateClient();
  window.addEventListener("message", receiveMessage, false);
  if  (window.parent) {
    window.parent.postMessage({type: 'appLoaded'}, 'http://fake.customdomain.com:3001');
  }
};

function receiveMessage(event) {
  if (event.data.type === 'cookieInfo') {
    console.log(`pm-iframe recieved cookie info: ${event.data.name} sameSite: ${event.data.data.sameSite}`);
    
    let existing = Cookies.getJSON(event.data.name);
    if (existing) {
      Cookies.remove(event.data.name, {SameSite: existing.sameSite});
    }
    console.log(`pm-iframe removed ${event.data.name} cookie`);
    Cookies.set(event.data.name, JSON.stringify(event.data.data), {SameSite:event.data.data.sameSite});
    console.log(`pm-iframe set ${event.data.name} cookie`);

    updateClient();
    showPassedSession(event.data);
  }
}


function showPassedSession(data) {
  document.getElementById('session').innerHTML = `<li>${JSON.stringify(data)}</li>`;
} 

function reload () {
  window.location.reload(true);
}

function updateClient () {
  let platformCookie = Cookies.get('platformCookie');
  let orgCookie = Cookies.get('orgCookie');

  let html = `
    <li>Platform Cookie: ${platformCookie}</li>
    <li>Org Cookie: ${orgCookie}</li>`;
  document.getElementById('clientCookies').innerHTML = html;
}
</script>
